#contact {
  .MuiTypography-root {
    color: white;

    &.MuiTypography-h2 {
      padding-bottom: 8px;
    }
  }

  .MuiCardContent-root {
    &:last-child {
      padding-bottom: 16px !important;
    }
  }

  .MuiCard-root.social-card {
    border-color: #272727;
    box-shadow: none;
    border-radius: 0;

    &:hover {
      border-color: black;

      .MuiCardContent-root.social-container {
        background-color: $yellow-color;

        .icon-social {
          color: #212121;
        }
        .text-social {
          color: #212121;
        }
      }
    }
    cursor: pointer;

    .MuiCardContent-root.social-container {
      display: inline-block;
      width: 100%;
      background-color: #191919;
      color: white;

      .icon-social {
        vertical-align: middle;
      }

      .text-social {
        display: inline-block;

        font-weight: 500;
        padding-left: 16px;
      }
    }
  }

  .email-header {
    color: white;
    font-weight: 600;

    margin-top: 24px;
  }

  .email-text {
    position: absolute;
    color: white;
    font-weight: 500;
    font-size: 1.75rem;

    @media screen and (min-width: $md) {
      font-size: 2rem;
    }

    &:hover {
      color: $yellow-color;
      cursor: pointer;
    }
  }

  .icon-copy {
    color: white;
  }
}
