#introduce {
  .MuiTypography-root {
    color: white;

    &.MuiTypography-h1 {
      line-height: 4rem;
      padding: 18px 0px 0px 0px;
    }

    &.secondary {
      opacity: 0.5;
      padding-bottom: 32px;
    }

    #role {
      font-style: italic;
      padding-left: 1px;
      padding-right: 4px;
    }
  }

  .MuiButton-root.reach-button {
    margin-top: 24px;
    border-radius: 36px;

    font-weight: 500;
    text-transform: none;
    background-color: $yellow-color;
    color: black;

    &:hover {
      background-color: transparent;
      color: $yellow-color;
      box-shadow: 0 0 0 2px $yellow-color inset;
    }
  }
}
