$xs: 0px;
$sm: 600px;
$mint: #2cf1aa;
$font: #212121;

svg.triangle {
  position: absolute;
  display: block;
  left: 0;

  &.top {
    top: 100vh;
  }

  &.bottom {
    top: calc(200vh - 70px);
  }
}

.header-project {
  font-weight: 500;
  font-size: 2rem;
  color: $font;
  display: block;
  padding-bottom: 8px;
}

.describe-project {
  font-weight: 400;
  font-size: 1rem;
  color: $font;
  display: block;
  padding-bottom: 8px;
}

.MuiCard-root.card-project {
  color: $font;
  background-color: white;
  // border-style: solid;
  // border-width: 2px;
  // border-color: rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  position: relative;
  cursor: pointer;

  &:hover {
    color: $mint;
    background-color: $font;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
  }

  height: 150px;
  @media screen and (min-width: $xs) and (orientation: landscape) {
    min-height: 200px;
  }

  @media screen and (min-width: $sm) {
    height: 250px;
  }

  display: grid;
  grid-template-columns: auto;

  &.list {
    align-items: center;
  }

  &.single {
    align-items: flex-start;
    color: $font;
    background-color: white;
    cursor: auto;

    div.card-describe-container {
      margin-top: 8px;
    }

    div.card-head-stack-container {
      margin-top: 16px;
      margin-bottom: 8px;
    }
  }

  div.card-title-container {
    max-width: 300px;
  }

  div.card-stack-container {
    max-width: 300px;
  }

  div.card-float-group {
    position: absolute;
    top: 5%;
    right: 5%;

    span.card-external-container {
      vertical-align: baseline;
    }

    span.card-github-container {
      margin-left: 10px;
      vertical-align: middle;
    }
  }

  .card-project-header {
    font-weight: 600;
    font-size: 1.8rem;
  }
}

.card-container {
  &.open {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    min-width: 300px;
    max-width: 500px;
    // height: 400px;

    .single {
      width: 100%;
      height: 100%;
    }
  }
}

// .card-container * {
//   pointer-events: all;
// }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.1;
  z-index: 1;
}

.icon-project-group {
  display: inline-block;
  margin-bottom: 12px;

  .icon-stack {
    vertical-align: middle;
  }

  .text-stack {
    font-weight: 500;
    padding-left: 8px;
  }
}

.icon-stack.non-text {
  margin-top: 4px;
  margin-right: 8px;
}

.MuiButton-root.button-demo {
  margin-left: auto;
  margin-right: 4px;
  margin-bottom: 8px;

  text-transform: none;
  color: $font;
  border-color: rgba(0, 0, 0, 0.23);
  border-radius: 36px;

  &:hover {
    color: $mint;
    background-color: $font;
  }
}

.MuiButton-root.button-github {
  margin-right: 8px;
  margin-bottom: 8px;

  .MuiButton-endIcon {
    margin-right: 2px;
  }

  text-transform: none;
  color: $font;
  border-color: rgba(0, 0, 0, 0.23);
  border-radius: 36px;

  &:hover {
    color: $mint;
    background-color: $font;
  }
}

#githubl1 {
  color: $font;

  &:hover {
    background-color: $mint;
  }
}
