$header: 24px;
$body1: 15px;
$head-line: #235347;
$font-black: #051f20;
$mint: #2cf1aa;

$xs: 0px;
$sm: 600px;
$md: 960px;

.page {
  background: white;
  display: block;
  margin: 6mm auto 6mm auto;
  box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;

  transform: scale(0.4);
  transform-origin: top left;

  @media screen and (min-width: $sm) {
    transform: scale(0.7);
  }

  @media screen and (min-width: $md) {
    transform: scale(1);
  }

  &.a4 {
    width: 210mm;
    height: 297mm;
  }

  .grid-container {
    padding: 6mm 10mm 6mm 10mm;
  }
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  #menubar,
  #menutab,
  .tab-background,
  #footer,
  #printbutton,
  .cursor {
    display: none !important;
  }

  html,
  body {
    width: 210mm;
    height: 297mm;
  }

  .page {
    margin: 0;
    box-shadow: 0;
    transform: scale(1);
  }
}

ul {
  list-style-position: outside;
  margin: 0;
  padding-left: 20px;
}

.profile-container {
  position: relative;

  .MuiAvatar-root.profile-avatar {
    width: 180px;
    height: 180px;

    &:hover + img.profile-viper {
      display: block;
    }
  }

  img.profile-viper {
    position: absolute;
    top: 30%;
    left: 36%;
    width: 56px;
    display: none;

    &:hover {
      display: block;
    }
  }
}

.head-container {
  color: $font-black;

  .title {
    font-weight: 600;
    font-size: 38px;
    display: block;
  }

  .role {
    font-weight: 400;
    font-size: 22px;
    display: block;
    padding-bottom: 8px;
  }

  .contact {
    line-height: 1.6;
    font-weight: 400;
    font-size: $body1;
    display: block;

    .type {
      display: inline-block;
      width: 70px;
    }
  }
}

.section-container {
  color: $font-black;
  width: 100%;
  margin-top: 22px !important;

  padding-left: 12px;
  border-left-style: solid;
  border-width: 3px;
  border-color: $head-line;

  .title {
    color: $head-line;
    font-weight: 500;
    font-size: $header;
    display: block;
    width: 100%;
    margin-bottom: 4px;

    // border-bottom-style: solid;
    // border-color: rgb(53, 73, 66);
    // border-width: 2px;
  }

  .detail {
    line-height: 1.6;
    font-weight: 400;
    font-size: $body1;
    display: block;

    .skill,
    .exp,
    .edu {
      padding-bottom: 8px;

      &:last-child {
        padding-bottom: 0px;
      }

      .head {
        font-weight: 500;
        font-size: $body1 + 1px;
      }
    }
  }
}

.MuiButton-root#printbutton {
  z-index: 1;
  position: fixed;
  bottom: 32px;
  right: 40px;

  .MuiButton-label {
    margin-right: 6px;
  }

  .MuiButton-startIcon {
    margin-left: 6px;
    margin-right: 10px;
  }

  text-transform: none;
  border-radius: 36px;
  color: $mint;
  background-color: #212121;
  border-style: solid;
  border-width: 3px;
  border-color: $mint;

  &:hover {
    color: #212121;
    background-color: $mint;
    border-color: #212121;
  }
}

bold {
  font-weight: 500;

  &.lg {
    font-size: 16px;
  }
}
